.card{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
  border: solid 2px black;
  margin: 20px;
  padding: 25px;
}
.card2{
width: 1000px;
display: flex;
flex-wrap: wrap;
margin-left: auto;
margin-right: auto;
}